@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

li {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  text-decoration: none;
  color: black;
}

.hide {
  display: none;
  opacity: 0;
}

.hide .visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container, .header, .hero, .partners, .recommended, .commercials, .about_section, .newProducts, .new_shop__section, .contacts__section, .footer__section {
  margin-left: 230px;
  margin-right: 230px;
}

.header {
  margin-top: 33px;
  margin-bottom: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 40px;
}

.header__nav-items {
  font-family: Hind Siliguri;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.64;
  text-transform: uppercase;
  color: #030d15;
}

.header__nav-items:not(:first-child) {
  margin-left: 40px;
}

.header__nav_link {
  -webkit-transition: color 250ms, fill 250ms;
  transition: color 250ms, fill 250ms;
}

.header__nav_link:hover,
.header__nav_link:focus {
  color: #c72535;
  fill: #c72535;
}

.header__nav-svg {
  margin-left: 8px;
  text-align: center;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__buttons-search {
  margin-right: 30px;
  -webkit-transition: fill 250ms;
  transition: fill 250ms;
}

.header__buttons-search:hover,
.header__buttons-search:focus {
  fill: #c72535;
}

.header__buttons-cart {
  margin-right: 24px;
  -webkit-transition: stroke 250ms;
  transition: stroke 250ms;
}

.header__buttons-cart:hover,
.header__buttons-cart:focus {
  stroke: #c72535;
}

.header__buttons_profile {
  -webkit-transition: stroke 250ms;
  transition: stroke 250ms;
}

.header__buttons_profile:hover,
.header__buttons_profile:focus {
  stroke: #c72535;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-hide {
  opacity: 0;
}

.hero-hide .visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.hero__header, .newProducts__header, .new_shop__header, .contacts__title {
  margin-bottom: 3px;
  font-family: Hind Siliguri;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  color: #c72535;
  opacity: 0.6;
}

.hero__first {
  font-family: Hind Siliguri;
  font-weight: 600;
  font-size: 61px;
  line-height: 1.2;
  color: #247cc0;
}

.hero__second {
  width: 555px;
  margin-bottom: 29px;
  font-family: Hind Siliguri;
  font-weight: 400;
  font-size: 61px;
  line-height: 1.2;
  color: #030d15;
}

.hero__third {
  margin-bottom: 36px;
  width: 515px;
  font-family: Hind Siliguri;
  font-size: 20px;
  line-height: 1.35;
  color: #030d15;
  opacity: 0.6;
}

.hero__button-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__button:hover .hero__button {
  width: 151px;
  height: 58px;
  left: 230px;
  top: 587px;
  background: #247cc0;
  cursor: pointer;
  border: none;
  font-family: Hind Siliguri;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.63;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__new-price {
  margin-left: 31px;
  font-family: Hind Siliguri;
  font-size: 20px;
  line-height: 1.35;
  color: #030d15;
}

.hero__old-price {
  margin-left: 18px;
  font-family: Hind Siliguri;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.69;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #030d15;
  opacity: 0.5;
}

.partners {
  margin-bottom: 132px;
  background: #ffffff;
  -webkit-box-shadow: 0px 100px 80px rgba(174, 174, 174, 0.08), 0px 43.751px 36.4414px rgba(174, 174, 174, 0.0575083), 0px 19.8401px 19.1406px rgba(174, 174, 174, 0.0476886), 0px 6.77214px 9.61331px rgba(174, 174, 174, 0.04), 0px 0.19008px 4.14347px rgba(174, 174, 174, 0.0323114), 0px -1.73968px 1.20532px rgba(174, 174, 174, 0.0224916);
          box-shadow: 0px 100px 80px rgba(174, 174, 174, 0.08), 0px 43.751px 36.4414px rgba(174, 174, 174, 0.0575083), 0px 19.8401px 19.1406px rgba(174, 174, 174, 0.0476886), 0px 6.77214px 9.61331px rgba(174, 174, 174, 0.04), 0px 0.19008px 4.14347px rgba(174, 174, 174, 0.0323114), 0px -1.73968px 1.20532px rgba(174, 174, 174, 0.0224916);
  border-radius: 0px;
}

.partners__list {
  height: 237px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 118px;
}

.recommended {
  margin-bottom: 160px;
}

.recommended_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: calc((100%) / 2);
      flex-basis: calc((100%) / 2);
}

.recommended_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recommended__discription {
  margin-left: 11px;
}

.recommended_header {
  margin-bottom: 9px;
  font-family: Hind Siliguri;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.6;
  color: #030d15;
}

.recommended_text, .contacts__text {
  margin-bottom: 20px;
  width: 256px;
  font-family: Hind Siliguri;
  font-size: 10px;
  line-height: 1.5;
  color: #030d15;
  opacity: 0.6;
}

.recommended__new-price {
  margin-bottom: 15px;
  font-family: Hind Siliguri;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.7;
  color: #030d15;
}

.recommended__slash, .recommended__old-price, .new_shop__old_price {
  font-family: Hind Siliguri;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.93;
  text-align: center;
  color: #030d15;
  opacity: 0.5;
}

.recommended__old-price, .new_shop__old_price {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.recommended_button-1 {
  position: absolute;
  -webkit-transform: translate(240px, -15px);
          transform: translate(240px, -15px);
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: #ffffff;
  border: none;
}

.recommended_button-2 {
  position: absolute;
  -webkit-transform: translate(240px, -15px);
          transform: translate(240px, -15px);
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: #ffffff;
  border: none;
}

.commercials {
  margin-bottom: 160px;
}

.commercials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.commercials__item {
  width: 520px;
  height: 296px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: linear-gradient(257.26deg, #008bf0 -13.2%, #d943c9 130.95%);
}

.commercials__title {
  margin-top: 75px;
  margin-left: 35px;
  font-family: Hind Siliguri;
  font-size: 16px;
  line-height: 1.69;
  text-transform: uppercase;
  color: #f4f9fc;
  opacity: 0.6;
}

.commercials__text {
  margin-top: 5px;
  margin-left: 35px;
  width: 249px;
  font-family: Hind Siliguri;
  font-weight: 600;
  font-size: 31px;
  line-height: 1.3;
  color: #f4f9fc;
}

.commercials__link {
  margin-top: 7px;
  margin-left: 35px;
  font-family: Hind Siliguri;
  font-size: 14px;
  line-height: 1.93;
  text-align: center;
  text-transform: uppercase;
  color: #f4f9fc;
}

.commercials__img {
  -webkit-transform: translate(270px, -180px);
          transform: translate(270px, -180px);
}

.about_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 125px;
}

.about_title, .newProducts__title, .new_shop__title {
  margin-bottom: 31px;
  font-family: Hind Siliguri;
  font-weight: 600;
  font-size: 44px;
  line-height: 1.61;
  color: #030d15;
}

.about_text-area {
  padding-top: 84px;
  padding-bottom: 98px;
  width: auto;
  background: #f4f9fc;
}

.about_text, .new_shop__text {
  width: 457px;
  margin-bottom: 40px;
  font-family: Hind Siliguri;
  font-size: 16px;
  line-height: 1.5;
  color: #030d15;
  opacity: 0.6;
}

.about_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Hind Siliguri;
  font-size: 14px;
  line-height: 1.93;
  color: #030d15;
}

.about_item:not(:last-child) {
  margin-bottom: 20px;
}

.about_item-checkbox {
  margin-right: 13px;
}

.about_image {
  left: 8.46%;
  right: 51.15%;
  top: 29.97%;
  bottom: 55.85%;
  background: #247cc0;
}

.newProducts__header, .new_shop__header {
  text-align: center;
}

.newProducts__title, .new_shop__title {
  text-align: center;
}

.newProducts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newProducts__item, .newProducts__item__first {
  margin-right: 40px;
  margin-bottom: 50px;
  font-family: Hind Siliguri;
  font-size: 14px;
  line-height: 1.64;
  text-transform: uppercase;
}

.newProducts__item__first {
  color: #c72535;
}

.newProducts__cart__list {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: calc(100% / 3);
      flex-basis: calc(100% / 3);
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.newProducts__cart__item {
  margin-top: 50px;
  width: 340px;
  height: 503px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.newProducts__cart__discount {
  margin-left: 35px;
  margin-top: 35px;
  font-family: Hind Siliguri;
  font-size: 16px;
  line-height: 1.69;
  color: #030d15;
}

.newProducts__cart__title__first, .newProducts__cart__title__second, .newProducts__cart__title__third, .newProducts__cart__title__fourth, .newProducts__cart__title__fifth, .newProducts__cart__title__sixth {
  margin-left: 35px;
  margin-top: 32px;
  font-family: Hind Siliguri;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.6;
  color: #030d15;
}

.newProducts__cart__title__second {
  margin-top: 72px;
}

.newProducts__cart__title__third {
  margin-top: 112px;
}

.newProducts__cart__price {
  margin-left: 35px;
  margin-bottom: 7px;
}

.newProducts__cart__oldPrice {
  font-family: Hind Siliguri;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.93;
  text-align: center;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #030d15;
  opacity: 0.5;
}

.newProducts__cart__stars {
  margin-left: 35px;
}

.newProducts__cart__image, .newProducts__cart__image__third {
  margin: auto;
}

.newProducts__cart__image__third {
  margin-top: 50px;
}

.newProducts__cart__all {
  display: block;
  margin-top: 56px;
  margin-bottom: 146px;
  font-family: Hind Siliguri;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.64;
  text-align: center;
  text-transform: uppercase;
  color: #030d15;
}

.new_shop__section {
  padding-bottom: 130px;
}

.new_shop__text {
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
}

.new_shop__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.new_shop__item {
  width: 360px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

.new_shop__item_active {
  width: 360px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

.new_shop__price {
  margin-left: 35px;
  margin-top: 35px;
}

.new_shop__stars {
  margin-left: 35px;
}

.new_shop__image {
  margin: auto;
}

.new_shop__image_active {
  margin: auto;
  margin-bottom: 53px;
}

.new_shop__svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 28px;
}

.contacts {
  background: #f4f9fc;
}

.contacts__section {
  padding-top: 100px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__header {
  font-family: Hind Siliguri;
  font-size: 25px;
  line-height: 1.6;
  color: #030d15;
}

.contacts__input_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contacts__input {
  width: 335px;
  height: 50px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 26px;
  font-family: Hind Siliguri;
  font-size: 14px;
  line-height: 1.5;
  color: #030d15;
  opacity: 0.4;
}

.contacts__button {
  width: 122px;
  height: 50px;
  border: none;
  background: #247cc0;
  font-family: Hind Siliguri;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.64;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.footer {
  background: #030d15;
  padding-top: 75px;
  padding-bottom: 56px;
}

.footer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__logo {
  display: block;
  margin-bottom: 22px;
}

.footer__title {
  margin-bottom: 26px;
  font-family: Hind Siliguri;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.44;
  color: #ffffff;
}

.footer__text {
  display: block;
  margin-bottom: 15px;
  font-family: Hind Siliguri;
  font-size: 13px;
  line-height: 1.64;
  color: #ffffff;
  opacity: 0.6;
}

.company__link {
  display: block;
  margin-top: 14px;
  margin-bottom: 16px;
  font-family: Hind Siliguri;
  font-size: 14px;
  line-height: 1.64;
  color: #ffffff;
}

.footer__socials_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.footer__socials_item {
  margin-right: 25px;
  margin-bottom: 58px;
}

.change_language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.change_language_planet {
  margin-right: 9px;
}

.change_language_text {
  font-family: Hind Siliguri;
  font-size: 14px;
  line-height: 1.64;
  color: #ffffff;
}

.change_language_menu {
  fill: #ffffff;
  stroke: #ffffff;
  margin-left: 4px;
}
/*# sourceMappingURL=main.css.map */