.about_area {
  background: #f4f9fc;
}

.about_section {
  @extend .container;
  display: flex;
  justify-content: space-between;
  margin-bottom: 125px;
}

.about_title {
  margin-bottom: 31px;

  font-family: $mainfont;
  font-weight: 600;
  font-size: 44px;
  line-height: 1.61;
  color: $headersColor;
}

.about_text-area {
  padding-top: 84px;
  padding-bottom: 98px;
  width: auto;
}

.about_text {
  width: 457px;
  margin-bottom: 40px;

  font-family: $mainfont;
  font-size: 16px;
  line-height: 1.5;
  color: $headersColor;
  opacity: 0.6;
}

.about_item {
  display: flex;
  align-items: center;

  font-family: $mainfont;
  font-size: 14px;
  line-height: 1.93;
  color: $headersColor;
}

.about_item:not(:last-child) {
  margin-bottom: 20px;
}

.about_item-checkbox {
  margin-right: 13px;
}

.about_discription {
  margin-left: 131px;
}
