.footer {
  background: #030d15;
  padding-top: 75px;
  padding-bottom: 56px;
}

.footer__section {
  @extend .container;
  display: flex;
  justify-content: space-around;
}

.footer__logo {
  display: block;
  margin-bottom: 22px;
}

.footer__title {
  margin-bottom: 26px;

  font-family: $mainfont;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.44;
  color: $contract_color;
}

.footer__text {
  display: block;
  margin-bottom: 15px;

  font-family: $mainfont;
  font-size: 13px;
  line-height: 1.64;
  color: $contract_color;
  opacity: 0.6;
}

.footer__text_link {
  @extend .footer__text;
  transition: color linear 250ms;
}

.footer__text_link:hover,
.footer__text_link:focus {
  color: $headerColor_2;
}

.company__link {
  display: block;
  margin-top: 14px;
  margin-bottom: 16px;

  font-family: $mainfont;
  font-size: 14px;
  line-height: 1.64;
  color: $contract_color;

  transition: color linear 250ms;
}

.company__link:hover,
.company__link:focus {
  color: $headerColor_2;
}

.footer__socials_list {
  display: flex;
  justify-content: stretch;
}

.footer__socials_item {
  margin-right: 25px;
  margin-bottom: 58px;
  cursor: pointer;
}

.footer__socials_icon {
  stroke: yellowgreen;
  fill: yellowgreen;
  color: blue;
}

.footer__socials_icon:hover,
.footer__socials_icon:focus {
  fill: orange;
}

.change_language {
  display: flex;
  text-align: center;
  cursor: pointer;
}

.change_language_planet {
  margin-right: 9px;
}

.change_language_text {
  font-family: $mainfont;
  font-size: 14px;
  line-height: 1.64;
  color: $contract_color;
}

.change_language_menu {
  fill: #ffffff;
  stroke: #ffffff;
  margin-left: 4px;
}
