.header {
  @extend .container;
  margin-top: 33px;
  margin-bottom: 94px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav-list {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 40px;
}

.header__nav-items {
  font-family: $mainfont;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.64;
  text-transform: uppercase;
  color: $headersColor;
}

.header__nav-items:not(:first-child) {
  margin-left: 40px;
}

.header__nav_link {
  transition: color 250ms, fill 250ms;
}

.header__nav_link:hover,
.header__nav_link:focus {
  color: $hero_background;
  fill: $hero_background;
}

.header__nav-svg {
  margin-left: 8px;
  text-align: center;
}

.header__buttons {
  display: flex;
  align-items: center;
}

.header__buttons-search {
  margin-right: 30px;
  stroke: black;
  fill: #fff;
  transition: stroke 250ms linear;
}

.header__buttons-cart {
  margin-right: 24px;
  transition: stroke 250ms linear;
}

.header__buttons-search:hover,
.header__buttons-search:focus {
  stroke: $hero_background;
}

.header__buttons-cart:hover,
.header__buttons-cart:focus {
  stroke: $hero_background;
}

.header__buttons_profile {
  transition: stroke 250ms linear;
}

.header__buttons_profile:hover,
.header__buttons_profile:focus {
  stroke: $hero_background;
}
