.hero {
  @extend .container;
  display: flex;
  justify-content: space-between;
}

.hero-hide {
  .visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }

  opacity: 0;
}

.hero__header {
  margin-bottom: 3px;

  font-family: $mainfont;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  color: $headerColor_2;
  opacity: 0.6;
}

.hero__first {
  font-family: $mainfont;
  font-weight: 600;
  font-size: 61px;
  line-height: 1.2;
  color: $hero_background;
  //   background-color: $hero_background;
  //   opacity: 0.1;
}

.hero__second {
  width: 555px;

  margin-bottom: 29px;
  font-family: $mainfont;
  font-weight: 400;
  font-size: 61px;
  line-height: 1.2;
  color: $headersColor;
}

.hero__third {
  margin-bottom: 36px;
  width: 515px;

  font-family: $mainfont;
  font-size: 20px;
  line-height: 1.35;
  color: $headersColor;
  opacity: 0.6;
}

.hero__button-area {
  display: flex;
  align-items: center;
}

.hero__button {
  width: 151px;
  height: 58px;
  left: 230px;
  top: 587px;
  background: $hero_background;

  cursor: pointer;
  border: none;

  font-family: $mainfont;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.63;
  text-transform: uppercase;
  color: $contract_color;

  transition: transform linear 250ms;
}

.hero__button:hover,
.hero__button:focus {
  transform: scale(1.1);
}

.hero__new-price {
  margin-left: 31px;

  font-family: $mainfont;
  font-size: 20px;
  line-height: 1.35;
  color: $headersColor;
}

.hero__old-price {
  margin-left: 18px;

  font-family: $mainfont;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.69;
  text-decoration-line: line-through;
  color: $headersColor;
  opacity: 0.5;
}

.hero__image {
  // position: absolute;
  // left: 850px;
  // top: 200px;
}
