.new_shop__section {
  @extend .container;
  padding-bottom: 950px;
  position: relative;
}

.new_shop__header {
  @extend .newProducts__header;
}

.new_shop__title {
  @extend .newProducts__title;
}

.new_shop__text {
  @extend .about_text;
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
}

.new_shop__list {
  position: relative;
  // display: flex;
  // flex-wrap: wrap;
}

.new_shop__item_1 {
  position: absolute;

  width: 359px;
  height: 330px;

  border: 1px solid rgba(0, 0, 0, 0.1);
}

.image_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new_shop__image_1 {
  margin: auto;
  margin-top: 84px;
}

.image_active {
  margin-top: 0px;
  margin-bottom: 40px;
}

.list_active {
  border: none;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.new_shop__item_2 {
  @extend .new_shop__item_1;
  transform: translate(390px);
  height: 252px;
}

.new_shop__item_3 {
  @extend .new_shop__item_1;
  transform: translate(780px, 0px);
  height: 432px;
}

.new_shop__item_4 {
  @extend .new_shop__item_1;
  transform: translate(390px, 290px);
  height: 252px;
}

.new_shop__item_5 {
  @extend .new_shop__item_1;
  transform: translate(0px, 365px);
  height: 456px;
  text-align: center;
}

.new_shop__item_6 {
  @extend .new_shop__item_1;
  transform: translate(390px, 570px);
  height: 252px;
}

.new_shop__item_7 {
  @extend .new_shop__item_1;
  transform: translate(780px, 470px);
  height: 353px;
}

.new_shop__old_price {
  @extend .recommended__old-price;
}

.new_shop__stars {
  margin-left: 35px;
}

.new_shop__svg {
  display: none;
}

.new_shop__svg_btn {
  border: none;
  cursor: pointer;
  background-color: #fff;
  transition: fill 250ms linear;
}

.new_shop__svg_btn:hover {
  fill: $headerColor_2;
}

.new_shop__icon {
  stroke: black;
  fill: white;
  transition: stroke 250ms linear;
}

.new_shop__icon:hover,
.new_shop__icon:focus {
  stroke: $hero_background;
}

.js_active {
  display: flex;
  justify-content: space-around;
  margin-bottom: 28px;
}

.new_shop__price {
  margin-left: 35px;
  margin-top: 35px;
}

.new_shop__price_area {
  display: none;
}

.price_active {
  display: block;
}
